nav {
    padding-left: 25px;
}

.list-group-item {
    padding: 0;
    margin: 10px;
}

button {
    width: fit-content;
    height: 50px;
    color: #FD2D01;
    font-weight: 900;
    background-color: #FFD7D7;
}