<footer class="bg-light">

    <ul class="list-group">
        <li class="list-group-item rounded btn btn-outline-secondary"><a href="*">Notre entreprise</a></li>
        <li class="list-group-item rounded btn btn-outline-secondary"><a href="mailto:admin@admin.com">Contacter l'Admin</a></li>
        <li class="list-group-item rounded btn btn-outline-secondary"><a href="mailto:skaothic@gmail.com">Contacter le Webmaster</a></li>
        <li class="list-group-item rounded btn btn-outline-secondary"><a href="*">Nos partenaires</a></li>
    </ul>

</footer>